::selection {
  color:        $white;
  background:   $darkviolet;
}

.description {
  font-size: 14px;
}

.small-description {
  font-size: 12px;
}

.container-fluid,
.container {
  padding-left: 15px;
  padding-right: 15px;

  @include breakpoint(large) {
    padding-left: 25px;
    padding-right: 25px;
  }
  //
  //@include breakpoint(large) {
  //  padding-left: 55px;
  //  padding-right: 55px;
  //}
  //
  //@include breakpoint(extralarge) {
  //  padding-left: 70px;
  //  padding-right: 70px;
  //}
}

.relative {
  position: relative;
}

.bg-gray {
  width: 100%;
  background: $gray-light;
}

.select-text {
  position: relative;
  display: inline-block;
  z-index: 100;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 115%;
    height: 100%;
    left: -5%;
    background: $darkviolet;
    z-index: -1;
    transition: .5s ease;
    transform: translateX(100%);
  }

  &:hover {
    &:before {
      transform: translateX(0);
    }
  }
}

.container {
  padding: 0 25px;
  max-width: 100%;

  @include breakpoint(medium) {
    padding: 0 30px;
  }

  @include breakpoint(large) {
    padding: 0 55px;
  }

  @include breakpoint(extralarge) {
    padding: 0 70px;
  }
}

.content-container {
  @include breakpoint(large) {
    padding-bottom: 80px;
  }

  &.with-top {
   padding-top: 220px;

    @include breakpoint(large) {
      padding-top: 275px;
    }

    @include breakpoint(extralarge) {
      padding-top: 327px;
    }
  }
}

.sub-header-wrapper {
  overflow: hidden;

  &.top-position {
    position: absolute;
    left: 4%;
  }

  .sub-header {
    font-family: 'PT Serif', serif;
    font-size: 48px;
    text-align: left;
    transform: translateY(100%);
    transform-origin: bottom;

    @include breakpoint(medium) {
      font-size: 54px;
    }

    @include breakpoint(large) {
      font-size: 62px;
    }

    @include breakpoint(extralarge) {
      font-size: 72px;
    }
  }
}

.reveal-me {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background: $gray-light;
  background: $white;
  z-index: 120;
  transform-origin: right;
}

.partners-container,
.contact-container {
  display: flex;
  flex-direction: column;

  @include breakpoint(medium) {
    flex-wrap: wrap;
    flex-direction: row;
  }

  @include breakpoint(large) {
    padding-left: 25%;
  }
}

.drop-me-one-contact {
  position: relative;
  font-family: 'Montserrat';
  font-weight: 500;
  letter-spacing: 0.3px;
  font-size: 13px;
  color: $gray;
  padding-bottom: 40px;
  /*overflow: hidden;*/
  /*transform: translateY(100%);*/

  @include breakpoint(medium) {
    padding: 0;
  }

  a {
    color: $gray-medium-1;

    &.drop-contact-me {
      &:hover {
        color: $white;
        text-decoration: none;
      }
    }
  }

  .drop-contact-me {
    display: inline-flex;
    overflow-x: hidden;
  }
}
