.description {
  font-size: 14px;
}

.small-description {
  font-size: 12px;
}

.container-fluid,
.container {
  padding-left: 15px;
  padding-right: 15px;

  @include breakpoint(large) {
    padding-left: 25px;
    padding-right: 25px;
  }
  //
  //@include breakpoint(large) {
  //  padding-left: 55px;
  //  padding-right: 55px;
  //}
  //
  //@include breakpoint(extralarge) {
  //  padding-left: 70px;
  //  padding-right: 70px;
  //}
}

.relative {
  position: relative;
}

.bg-gray {
  width: 100%;
  background: $gray-light;
}

.select-text {
  position: relative;
  display: inline-block;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 115%;
    height: 100%;
    left: -5%;
    background: $darkviolet;
    z-index: -1;
    transition: .5s ease;
    transform: translateX(100%);
  }

  &:hover {
    &:before {
      transform: translateX(0);
    }
  }
}

.container {
  padding: 0 25px;
  max-width: 100%;

  @include breakpoint(medium) {
    padding: 0 30px;
  }

  @include breakpoint(large) {
    padding: 0 55px;
  }

  @include breakpoint(extralarge) {
    padding: 0 70px;
  }
}

.content-container {
  @include breakpoint(large) {
    padding-bottom: 80px;
  }

  &.with-top {
   padding-top: 220px;

    @include breakpoint(large) {
      padding-top: 275px;
    }

    @include breakpoint(extralarge) {
      padding-top: 327px;
    }
  }
}

.sub-header {
  position: absolute;
  left: 4%;
  font-family: 'PT Serif', serif;
  font-size: 48px;
  text-align: left;

  @include breakpoint(medium) {
    font-size: 54px;
  }

  @include breakpoint(large) {
    font-size: 62px;
  }

  @include breakpoint(extralarge) {
    font-size: 72px;
  }
}